# Configuration for coverage.py[run]branch = Truesource = oct2pyinclude = */oct2py/*omit =    */setup.py    oct2py/tests/*    oct2py/ipython/tests/*[report]exclude_lines =    def __repr__    if __name__ == .__main__.: