*.pyc
.coverage
MANIFEST
.spyderproject
.coveralls.yml
oct2py.egg-info/*
build/*
dist/*
docs/_build/*
.cache/*
htmlcov/*
example/.ipynb_checkpoints/
.ipynb_checkpoints/
.DS_Store
.pytest_cache
coverage.xml
.vscode/
