# travis-ci.org definition for oct2py build

# After changing this file, check it on:
#   http://lint.travis-ci.org/

# http://conda.pydata.org/docs/travis.html
language: python
sudo: false
addons:
  apt:
    packages:
      octave
      liboctave-dev
env:
    - CONDA="python=2.7 numpy=1.7"
    - CONDA="python=3.3 numpy"
    - CONDA="python=3.4 numpy"

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes
  - conda update conda
  - conda info -a
  - travis_retry conda create -n test $CONDA IPython pip nose scipy
  - source activate test
  - travis_retry pip install coveralls

install:
  - export PYTHONWARNINGS=all
  - python setup.py install

script:
    # run coverage on py2.7, regular on others
  - if [[ $CONDA == python=2.7* ]]; then
      nosetests --exe -v --with-doctest --with-cov --cover-package oct2py;
    else
      nosetests --exe -v oct2py;
    fi
  - make docs

after_success:
    - coveralls
