[build-system]
requires = ["setuptools>=46.4.0", "wheel", "packaging", "numpy", "octave_kernel"]
build-backend = "setuptools.build_meta"

[tool.jupyter-releaser]
skip = ["check-links"]

[tool.jupyter-releaser.hooks]
before-build-python = ["sudo apt-get install -qq octave octave-signal liboctave-dev"]
before-check-links = ["sudo apt-get install -qq octave octave-signal liboctave-dev"]

[tool.tbump.version]
current = "5.2.0"
regex = '''
  (?P<major>\d+)\.(?P<minor>\d+)\.(?P<micro>\d+)(?P<releaselevel>[a-z]+)?(?P<serial>\d+)?
'''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
src = "oct2py/_version.py"
version_template = '({major}, {minor}, {micro}, "{releaselevel}", {serial})'

[[tool.tbump.field]]
name = "releaselevel"
default = "final"

[[tool.tbump.field]]
name = "serial"
default = 0

[tool.pytest.ini_options]
testpaths = "oct2py"
addopts = "--doctest-modules"
doctest_optionflags = "NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL"
